# Database
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=database_name
DATABASE_URL="postgresql://username:password@database_host:5432/database_name?schema=public"

# Backend
NODE_ENV=production
PORT=3000
JWT_ACCESS_SECRET=top_secret_jwt_access_key
JWT_REFRESH_SECRET=top_secret_jwt_refresh_key
FRONT_URL=http://front_url

# Email
MAIL_HOST=smtp.example.com
MAIL_USER=email_user
MAIL_PASSWORD=email_password
MAIL_FROM="Email user <email_user@example.com>"