# Database
DB_USERNAME=admin
DB_PASSWORD=admin
DB_NAME=project_template
DB_HOST=database
DB_PORT=5432
DATABASE_URL="postgresql://username:password@localhost:5432/project_template?schema=public"

# Backend
NODE_ENV=production
PORT=3000
JWT_ACCESS_SECRET=your_super_secret_jwt_access_key
JWT_REFRESH_SECRET=your_super_secret_jwt_refresh_key
FRONT_URL=http://localhost

# Email
MAIL_HOST=smtp.example.com
MAIL_USER=user
MAIL_PASSWORD=topsecret
MAIL_FROM="User <user_email@example.com>"